.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow-rotate {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  margin-left: 15px;
}
.arrow-rotate--top {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow-bottom {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.top-100vh {
  top: -100vh;
}
.bottom-40vh {
  bottom: -40vh;
}
.bottom0 {
  bottom: 0;
}
.left100vw {
  left: 100vw !important;
}
.left-100vw {
  left: -100vw !important;
}
.right-100vw {
  right: -100vw !important;
}
.opacity0 {
  opacity: 0;
}
.left0 {
  left: 0 !important;
}
.right0 {
  right: 0 !important;
}
.right-100vw {
  right: 100vw !important;
}
.right-12vw {
  right: 12vw !important;
}
.top0 {
  top: 0;
}
.toggle-log-panel {
  right: calc(100% - 200px);
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-scroll {
  overflow: scroll;
}
