$font-size--p: 1.6rem;
$font-size--h1: 3rem;

$mobileArchiveBackground: rgba(255, 255, 255, 0.95);
* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow: hidden;
}
h1 {
  font-size: $font-size--h1;
}
p {
  font-size: $font-size--p;
}
label {
  font-size: $font-size--p;
}
span {
  font-size: $font-size--p;
}
textarea {
  font-family: 'Nunito Sans', sans-serif;
}
button {
  font-size: $font-size--p;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;

  // display: grid;
  grid-template-rows: 1fr;
  column-gap: 3%;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;

  // JS animation

  grid-template-columns: 1fr 7fr;
  transition: all 0.3s;
  //
}

.section--1 {
  display: block;
  position: fixed;
  width: 200px;
  z-index: 5;
  right: 100%;
  // background-color: red;
}
.section--2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  // animation
}
.section--m {
  position: fixed;
  // float: left;
  display: none;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  gap: 2rem;
  width: 100vw;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid red;
  z-index: 5;
  left: 0;
  top: -100vh;
  padding-bottom: 10rem;
  overflow-y: scroll;
  & .artwork-tag {
    margin-right: 7vw;
  }
}

.log--mobile-container {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  justify-items: left;

  width: 100%;
  height: 100%;
  & h2 {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
  }
}
.log-mobile-search-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.log--mobile-search--input {
  height: 4rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.log--mobile-search--button {
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  margin-top: 1rem;
}
.log--mobile-search--input {
  text-align: center;
}
.log--mobile--searchby {
  // height: 4rem;
  width: 100%;
  padding: 1rem;
}
.log--mobile--searchby {
  text-align: center;
}

.log--mobile-results {
  display: grid;
  // grid-template-rows: auto;
  grid-auto-rows: minmax(min-content, max-content);
  max-height: 40vh;
  width: calc(100% - 2rem);
  // background-color: red;
  overflow: hidden scroll;
  padding-bottom: 4rem;
  & li {
    list-style-type: none;
    padding: 0.5em 0;
    font-size: 1.3rem;
  }
  &::after {
    content: '';
    box-shadow: 0 0 4rem 4rem white;
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
  }
}
.mobile-results--toggle {
  position: absolute;
  bottom: calc(40vh - 2rem);
  justify-self: center;
  z-index: 10;
  left: calc(50vw - 1rem);
  // transform: translateX(-10px);
  // right: 0vw;
  // bottom: 0vh;
  // background-color: red;
  // z-index: 10;
}

.column--m--1 {
  margin-top: 4rem;
  row-gap: 2rem;
}
.column--m--2 {
  padding: 0 7vw;
}
.column--m--3 {
  display: block;
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 40vh;
  max-height: 40vh;
  max-width: 100vw;
  padding: 4rem 7vw 0rem 7vw;
  background-color: $mobileArchiveBackground;
  // border-top: 1px solid black;
  box-sizing: border-box;
  overflow: scroll;
  // box-shadow: 0px -15px 5px $mobileArchiveBackground;
  box-shadow: 0px -10px 10px $mobileArchiveBackground;
}
.fullSizeBetween {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  // align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  gap: 2rem;
}
.row {
  min-height: 100vh;
  // max-height: 100vh;
  // border: 1px solid red;
  background-color: white;
  position: relative;
  transition: all 0.5s;
  // left: 0;
  top: 0;
}
/// whadkaskdh
.row--1 {
  @extend .row;
  width: auto;
  display: grid;
  column-gap: 5%;
  grid-template-columns: 1fr 0.8fr;
  justify-content: center;
  left: 0;
}
.row--2 {
  @extend .row;
  display: flex;
  position: relative;
  flex-direction: column;
  top: 0;
  left: calc((100vw - 100vh) / 10);
}
.column--1 {
  text-align: right;
}
.column--2 {
  max-width: 30vw;
}
.column--5 {
  max-width: 30vw;
}
.scroll {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 0.8fr;
  column-gap: 5%;
  min-height: 100vh;
  // min-width: 100%;
  // background-color: white;
}
// .scroll--0 {
//   top: -100vh;
// }
// .scroll--1 {
//   top: 0vh;
// }
// .scroll--2 {
//   top: 100vh;
// }
.no-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.no-result span {
  text-align: center;
  align-self: center;
}
.column {
  display: grid;
  align-content: center;
  box-sizing: border-box;
  position: relative;
  // row-gap: 1rem;

  top: 0;
  left: 0;
  transition: all 0.5s;
}

.btn--mobile-log {
  cursor: pointer;
  // border-bottom: solid black;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 0px;
  border-width: 1px;
  // padding: 1rem 0;
  position: fixed;
  width: 100vw;
  text-align: center;
  left: 0;
  top: -1.5rem;
  z-index: 10;
  // background-color: white;
  font-size: 1.3rem;
  // box-shadow: 0px 10px 10px $mobileArchiveBackground;
  // box-shadow: inset 0px 40px 5px black;
}
.btn--bottom--arrow {
  cursor: pointer;
  // right: -0.7px;
  background-color: transparent;
  border: solid black;
  border-width: 0 1px 1px 0;
  padding: 1rem;
  transition: all 0.2s;
}
.mobile-archive--toggle {
  position: relative;
  top: 2rem;
}
.log--toggle-view {
  position: absolute;
  top: calc(50vh - 10px);
  left: 99%;
  z-index: 9999;
}

//////////
.log--search--container {
  position: absolute;
  box-sizing: border-box;
  width: calc(100% - 2em);
  top: 1.5rem;
  left: 1.5em;
  // background-color: white;
  z-index: 9;
  border: 1px solid black;
  &:hover {
    border: 1px solid red;
  }
  &:focus {
    border: 1px solid red;
    outline: none;
  }
}
.log--search--expand {
  display: block;
  width: 100%;
  height: 100%;
}
////dasdsadasd
//@extend//dsadasd/sad/asd
.log--search--box {
  width: 100%;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  padding: 0rem;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 0rem;
  line-height: 3.6rem;
  & a {
    cursor: pointer;
  }
}

.log--search--options {
  display: flex;
  flex-direction: column;
}
.log--search--options a {
  display: block;
  width: 100%;
  height: 100%;
}
.log--search--option {
  @extend .log--search--box;
}

.log--search--input {
  @extend .log--search--box;
  width: 100%;
  cursor: text;
  border: none;
  &:focus {
    outline: none;
  }
}

.log--search--input {
  text-align: center;
}
@mixin log--container--shadow {
  content: '';

  box-shadow: 0 0 2rem 20px white;
  position: absolute;
  width: 200px;
  left: -2rem;
  height: 0px;
}
.log--container {
  transition: all 0.3s;

  min-height: 100vh;
  &:before {
    @include log--container--shadow;
    z-index: 9;
    top: 6rem;
  }
  &:after {
    @include log--container--shadow;
    bottom: 0vh;
  }
}
.log--results {
  position: relative;
  top: 7rem;

  font-size: $font-size--p;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  height: calc(100vh - 7rem);
  padding-top: 0rem;
  box-sizing: border-box;

  overflow-y: scroll;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 200px;
  //   height: 0px;
  //   top: 6rem;
  //   left: -2rem;
  //   box-shadow: 0 0 2rem 20px red;
  // }
  // &:after {
  //   content: '';
  //   position: fixed;
  //   width: 200px;
  //   height: 0px;
  //   bottom: 0vh;
  //   left: -2rem;
  //   box-shadow: 0 0 2rem 20px red;
  // }

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    border: 1px solid white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    height: 10px;
  }
}

.log--results li {
  list-style-type: none;
  padding: 0.5rem 0;
  // border-right: 1px solid black;
}
.log--logs {
  list-style: none;
  color: black;
  text-decoration: none;
  padding-right: 2rem;

  &:hover {
    color: red;
  }
}

.tester {
  border: 1px solid red !important;
}

.container-artwork {
  aspect-ratio: 1 / 1;
  border: 0rem solid white;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
.container-outer {
  box-sizing: border-box;
  padding: 9vh;
  background-size: 100% 100%;
  position: relative;
  right: 0;
  width: 90vh;
  height: 90vh;
}

.outer-shadow {
  background-image: url(../img/outerShadow.png);
  background-repeat: no-repeat;
}

.inner-shadow {
  background-image: url(../img/innerShadow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sub-grid {
  display: grid;
  width: 100%;
  max-height: 100vh;
  align-content: center;
  transition: all 0.5s;
  top: 0;
  left: 0;
}

.sub-grid--1 {
  grid-template-rows: 1fr auto;

  row-gap: 1rem;
}

.sub-grid--2 {
  // grid-template-rows: 1fr 16px;
  justify-content: stretch;

  row-gap: 0rem;
}

.artwork-description {
  overflow-wrap: break-word;
  line-break: anywhere;
}

.artwork-tag {
  text-align: right;
  // margin-top: -2.5%;
  margin-right: 2%;
}

.artwork-subtitle {
  text-align: right;
  margin-bottom: 1rem;
}

.artwork-title {
  font-style: italic;
}
.between--container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.between--information {
  font-size: $font-size--p;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-row: auto auto auto;
  & label {
    font-weight: 600;
  }
  & li {
    list-style: none;
  }
}
.column {
  padding: 0px 0rem;
}
.form-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.form-artwork {
  display: flex;
  flex-direction: column;
  position: relative;
  // max-width: 27vw;
  row-gap: 2vh;
  margin-top: 2rem;
  box-sizing: border-box;
}
.introduction {
  // display: flex;
  display: none;
  position: fixed;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: white;
  //animation
  top: 0;
  left: 0;
  opacity: 1;
  // transition: all 1s;
}
.intro--container {
  left: 0;
  transition: all 0.5s;
}
.intro--text {
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
  & h1 {
    right: 0;
    position: relative;
    transition: all 0.5s;
  }
  & h3 {
    right: 0;
    position: relative;
    align-self: flex-end;
    transition: all 0.5s;
  }
  & span {
    right: 0;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 4rem;
    transition: all 0.5s;
  }
}
.intro--tag {
  position: absolute;
  text-align: right;
  margin-top: 5rem;
  right: 2%;
}
.container--center {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-content: center;
  width: 70vw;
  height: 100%;
  column-gap: 3vw;
}
.intro--artwork {
  @extend .artwork-frame;
  background-image: url(../img/comedian.jpg);
  aspect-ratio: 1 / 1;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.artwork-frame {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.render-origial-image {
  @extend .artwork-frame;
  // background-image: url(../img/comedian.jpg);
  box-sizing: border-box;
}

.render-reduce {
  width: 80%;
  height: 80%;
}
.render-text-title {
  position: absolute;
  font-size: 3rem;
  line-height: 3rem;
  right: 10%;
  bottom: calc(10% - 4rem);
}

.render-box {
  box-sizing: border-box;
  width: 2000px;
  height: 2000px;
  position: absolute;
}
.render-inner-box {
  position: relative;
}
.render-artwork {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgb(252, 252, 252);

  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.render-receiver {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
}

.render-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 90%;
  background-image: url('../img/bullshitLayer.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.render-inner-shadow {
  width: 100%;
  height: 100%;
}

.render-element--hide {
  left: -1000vw;
  top: -100vh;
}

.hidden {
  display: none !important;
}

.error-message--form {
  color: red;
  font-size: 1rem;
}
.error-box {
  border: 1px solid red !important;
}

.highlighted-text {
  color: red;
}
.highlighted-text--mobile {
  @extend .highlighted-text;
}

.detail-data {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  grid-template-rows: auto auto auto auto;
  & label {
    font-weight: 600;
    text-align: left;
  }
  & li {
    list-style: none;
  }
}
.scroll__label {
  grid-column: 1/3;
}
.scroll__statement {
  grid-column: 1/3;
  // padding-left: 2rem;
  margin-bottom: 2rem;
}
