%btn {
  background-color: transparent;
  border-radius: 0rem;
  border: 1px solid #666;
  // text-transform: lowercase;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    background-color: red;
  }
  &:focus {
    outline: none;
  }
}
.btn--large {
  @extend %btn;
  padding: 1.5rem;
  // font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  justify-content: center;
  position: relative;
  right: 0;
}
.btn--hide-description {
  @extend .btn--large;
  margin-top: 2rem;
}

.btn--submit {
  @extend .btn--large;
  margin-top: 2rem;
}
.btn--right-arrow {
  position: absolute;
  cursor: pointer;
  left: 99%;
  top: calc(50vh - 10px);
  background-color: transparent;
  z-index: 9999;

  border: solid black;
  border-width: 0 1px 1px 0;
  padding: 10px;
  transition: all 0.2s;
  &:hover {
    border: solid red;
    border-width: 0 1px 1px 0;
  }
}

%input {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0rem;

  &:hover {
    border: 1px solid red;
  }
  &:focus {
    border: 1px solid red;
    outline: none;
  }
}
.input-form {
  @extend %input;
  width: 100%;
}
.input-form-textarea {
  @extend %input;
  width: 100%;
  line-height: 1.6rem;
  height: 30rem;
}

.checkbox {
  border: 1px solid black;
  outline: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  &:hover {
    border: 1px solid red;
  }

  &:active {
    background-color: red;
    border: 1px solid red;
  }

  &:checked {
    background-color: red;
    border: 1px solid red;
    text-align: center;
  }
  &:checked::after {
    content: 'X';
    line-height: 2rem;
    color: white;
  }
}

%label {
  color: black;
}
.label-checkbox {
  @extend %label;
  font-size: 1rem;
}
.message {
  font-size: 2rem;
}

///dlkasjdlsajdljsaldjlsajdljsaldal
