%btn {
  cursor: pointer;

  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 0rem;
  border: 1px solid #666;
  // text-transform: lowercase;
  transition: all 0.2s;

  &:hover {
    background-color: $color--accent;
  }
  &:focus {
    outline: none;
  }
}
.btn--small {
  @extend %btn;
  // position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 0;
  // padding: 1.5rem;

  align-self: center;

  text-align: center;
}
.btn--50 {
  @extend %btn;
  width: auto;
  max-width: 100%;
  right: 0;

  font-weight: bold;

  padding: 1rem;
}
.btn--large {
  @extend %btn;
  position: relative;
  width: 100%;
  right: 0;
  padding: 1.5rem;

  font-weight: 600;

  justify-content: center;
}
.btn--submit {
  @extend .btn--large;
  margin-top: 2rem;
}
.btn--download {
  font-size: $font-size--p;
  text-decoration: none;
}
.btn__description--hide {
  @extend .btn--large;
  margin-top: 2rem;
}

.btn--arrow--right {
  cursor: pointer;
  padding: 1rem;

  background-color: transparent;

  border: solid black;
  border-width: 0 1px 1px 0;

  transition: all 0.2s;
  &:hover {
    border: solid $color--accent;
    border-width: 0 1px 1px 0;
  }
}
.btn--arrow--bottom {
  cursor: pointer;
  padding: 1rem;
  border: solid black;
  border-width: 0 1px 1px 0;
  background-color: transparent;

  transition: all 0.2s;
}

%input {
  padding: 10px;

  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 0rem;

  &:hover {
    border: 1px solid $color--accent;
  }
  &:focus {
    border: 1px solid $color--accent;
    outline: none;
  }
}
.input-form {
  @extend %input;
  width: 100%;
}
.input-form--textarea {
  @extend %input;
  width: 100%;
  height: 30rem;

  line-height: 1.6rem;
}

.checkbox {
  cursor: pointer;

  width: 2rem;
  height: 2rem;

  border: 1px solid black;

  outline: none;
  appearance: none;

  &:hover {
    border: 1px solid $color--accent;
  }

  &:active {
    background-color: $color--accent;
    border: 1px solid $color--accent;
  }

  &:checked {
    text-align: center;

    background-color: $color--accent;
    border: 1px solid $color--accent;
  }
  &:checked::after {
    content: 'X';
    line-height: 2rem;
    color: $color--main;
  }
}

%label {
  color: black;
}
.label--checkbox {
  @extend %label;
  font-size: 1.2rem;
}
.message {
  font-size: 2rem;
}

.hidden {
  display: none !important;
}
