/* BELOW width 1200px*/
@media (max-width: 80em) {
  $font-size--s: 1em;
  $font-size--p: 1.3em;
  $font-size--h1: 2.5em;
  $font-size--h3: 1em;
  h1 {
    font-size: $font-size--h1;
  }
  h3 {
    font-size: $font-size--h3;
  }
  p {
    font-size: $font-size--p;
  }
  label {
    font-size: $font-size--p;
  }
  span {
    font-size: $font-size--p;
  }
  button {
    font-size: $font-size--p;
  }
  .row--1 {
    column-gap: 3%;
  }
  .row--2 {
    left: 0px;
    align-self: flex-end;
  }
  .lable-checkbox {
    $font-size--s: 1em;
  }
  .log--results {
    font-size: $font-size--p;
  }
  .scroll {
    column-gap: 3%;
    width: calc(100vw - 230px);
  }
  .container-outer {
    height: min(80vh, 60vw);
    width: min(80vh, 60vw);
  }
  .scroll .container-outer {
    height: min(70vh, 50vw);
    width: min(70vh, 50vw);
    padding: 7vh;
  }
  .log--logs {
    padding-right: 1em;
  }
  .column {
    padding-right: 0;
  }
  .log--toggle-view {
    padding: 7px;
    left: 100%;
  }
  .log__mobile-view--toggle {
    padding: 7px;
  }
  .input-form-textarea {
    height: 25vh;
  }
  .form-artwork {
    margin-top: 0;
    row-gap: 0.75vw;
  }
  .btn--submit {
    margin-top: 1em;
  }
  .information {
    // max-width: 32vw;
  }
  .form-artwork {
    // max-width: 32vw;
  }
  .section--2 {
    // left: -7%;
  }
}
// BELOW 900px//
// Mobile Portrait Orientation//
@media (max-width: 50em) {
  .container-outer {
    height: 90vw;
    width: 90vw;
    padding: 9vw;
    justify-self: center;
  }
  .scroll .container-outer {
    height: 90vw;
    width: 90vw;
  }
  .column--2 {
    max-width: 86vw;
    min-width: 86vw;
    justify-self: center;
    align-self: flex-start;
    margin-top: 2em;
  }
  .column--5 {
    max-width: none;
  }
  .row {
    // margin: 0 2em;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .row--1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-content: flex-start;
    margin-top: 5vw;
  }
  .row--2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  body {
    overflow: scroll;
    // height: 1000px;
  }
  .column--1 {
    display: grid;
    grid-template-rows: auto auto;
    align-self: end;
  }
  .column--4 {
    grid-template-rows: auto auto;
    align-self: end;
  }
  .column--5 {
    align-self: start;
  }
  .section--1 {
    display: none;
    // background-color: white;
    // width: 90vw;
    // right: 10vw;
  }
  .section--2 {
    // display: none;
    min-height: none;
    overflow: hidden;
    // height: 100vh;
  }
  .section--m {
    display: block;
  }
  .scroll-log-container {
    display: none;
  }

  .information {
    max-width: none;
  }
  .form-artwork {
    max-width: none;
  }
  .container {
    grid-template-columns: 150px calc(100vw - 3% - 150px);
  }
  .log--container {
    right: 150px;
  }
  .scroll {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .btn--mobile-log {
    display: flex;
  }
}
