$font-size--m--s: 1em;
$font-size--m--p: 1.3em;
$font-size--m--h1: 2.5em;
$font-size--m--h3: 1em;

/* BELOW width 1200px*/
@media (max-width: 80em) {
  h1 {
    font-size: $font-size--m--h1;
  }
  h3 {
    font-size: $font-size--m--h3;
  }
  p {
    font-size: $font-size--m--p;
  }
  label {
    font-size: $font-size--m--p;
  }
  span {
    font-size: $font-size--m--p;
  }
  button {
    font-size: $font-size--m--p;
  }
  .button {
    font-size: $font-size--m--p;
  }
  textarea,
  input,
  button,
  select {
    font-size: $font-size--m--p;
  }

  .row--1 {
    column-gap: 3%;
  }
  .row--2 {
    // right: 0px;
    // align-self: flex-end;
  }
  .column {
    padding-right: 0;
  }

  .artwork__form {
    margin-top: 0;
    row-gap: 0.75vw;
  }
  .log__logs {
    padding-right: 1em;
  }
  .log__btn--submit--mobile {
    font-size: $font-size--m--p;
  }

  .log__results {
    font-size: $font-size--m--p;
  }
  .log__view--toggle {
    left: 100%;
    padding: 7px;
  }
  .log__mobile-view--toggle {
    padding: 7px;
  }
  .scroll {
    // width: calc(100vw - 230px);
    column-gap: 3%;
  }

  .input-form--textarea {
    height: 25vh;
  }
  .btn--submit {
    margin-top: 1em;
  }
}
// BELOW 900px//
// Mobile Portrait Orientation//
@media (max-width: 50em) {
  body {
    overflow: scroll;
    // height: 1000px;
  }
  label {
    font-size: $font-size--m--p;
  }
  span {
    font-size: $font-size--m--s;
  }
  .section--1 {
    display: none;
    // background-color: white;
    // width: 90vw;
    // right: 10vw;
  }
  .section--2 {
    // display: none;
    min-height: none;

    overflow: hidden;
    // height: 100vh;
  }
  .section--m {
    display: block;
  }
  .row {
    // margin: 0 2em;
    padding-top: 2em;
    padding-bottom: 4em;
  }
  .row--1 {
    // margin-top: 5vw;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 3vh;
  }
  .row--2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .column--1 {
    display: grid;
    grid-template-rows: auto auto;
    align-self: end;
  }
  .column--2 {
    min-width: 86vw;
    max-width: 86vw;
    margin-top: 2em;

    justify-self: center;
    align-self: flex-start;
  }
  .column--4 {
    grid-template-rows: auto auto;
    align-self: end;
  }
  .column--5 {
    max-width: none;

    align-self: start;
  }

  .container {
    grid-template-columns: 150px calc(100vw - 3% - 150px);
  }

  .artwork__container--outer {
    width: 90vw;
    height: 90vw;
    padding: 9vw;

    justify-self: center;
  }
  .artwork__form {
    max-width: none;

    row-gap: 1em;
  }
  .latest-tag {
    margin-top: 0;
  }

  .scroll {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .scroll__container {
    display: none;
  }
  .scroll .artwork__container--outer {
    width: 90vw;
    height: 90vw;
  }
  .log__container {
    right: 150px;
  }
  .log__logs {
    padding: 0;
  }
  .log__btn--mobile {
    display: flex;
  }

  .between__information {
    max-width: 90vw;

    column-gap: 1rem;
    & label {
      font-size: $font-size--m--s;
    }
  }

  .information {
    max-width: none;
  }

  .label--checkbox {
    font-size: $font-size--m--s;
  }
  .intro__container--center {
    width: 100vw;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-content: center;
    row-gap: calc(3vh + 2em);

    padding: 2em;
  }
  .btn--close--intro {
    margin-top: 2em;
  }
}
